.bookItem{
    font-size: 1.1rem;
    display: flex;
    background-color: #e2e3e5;
    border-color: #d6d8db;
    border-radius: 8px;
    color: #383d41;
    margin-bottom: 1vh;
    justify-content: space-between;
    padding: 10px 10px;
    width: 40vh;
}

.price{
    color: #155724;
}